h3.title
	a(href='#') 5/25/13 
.entry
	<p> Hi! This is the first of many entries of my new blog. Mostly, I will be talking about video games, music, and sports, but occasionally, I'll take a more in-depth look at either an aspect of technology, probably mostly dealing with computer science basics.

	<p> I'm currently playing <i>Prince of Persia: Warrior Within</i>. <i>Sands of Time</i>, the prequel, is one of my favorite games, and I've also played through <i>The Two Thrones</i>, which is the last of the PS2 mini-series. I'd always heard WW was the weakest, so I never got a chance to play it... until now. I actually thought that a different studio had developed WW, and even when I started to play it (via cutscenes), I could tell that there was a difference in the design. However, after a while, it became obvious that the engine used was the same, with a few additional features (which I liked, for the most part):

	<ul>
	<li> Two weapons, one of which is changeable </li>
	<li> Ropes on walls </li>
	<li> Lots of combos (reminds me of <i>Spider-man</i>) </li>
	</ul>
	<p> There are, of course, new enemies and a variety of different landscapes, puzzles, and so on that I haven't mentioned. The game is definitely much darker in tone than SOT, and I'm not sure the added gore was worth the M rating. What does seem to be missing is the overall beauty that was in SOT. I just don't care as much (nor do I know as much) about the MC or what he's trying to do in WW, whereas each change of scenery in the SOT palace was a major development in the story. Incidentally, the SOT movie was on TV today (gotta love Jake Gyllenhall!).

	<p> One thing I do like about WW is how they did the past/present changes between landscapes. While it's no <i>Skyward Sword</i>, I can tell the artists and designers certainly took their time in making the same landscape different in terms of functionality (concerning where the Prince is able to go, etc.).

	<p> Well, it's about time to watch the Spurs-Grizzlies game. I'd be kidding myself if I didn't think that the finals was already set for Heat-Spurs outside of a major injury to Lebron or Tony Parker. A friend of mine asked me if I thought that Eva Longoria was better off without him. I suppose we'll just have to wait and see how these playoffs end...