<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Hari Ganesan's Website"
    <meta name="description" content="Hari Ganesan's website a blog and portfolio of a software programmer">
    <meta name="author" content="Hari Ganesan">
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
    <title>Hari</title>
    <!-- Custom styles for this template -->
    <link href="static/css/main.css" rel="stylesheet" type="text/css" media="screen">
  </head>
  <body>
    <div id="q-top-left" class="quadrant q-top q-left"><a class="homeLink" href="#" data-target="blog">Blog</a></div>
    <div id="q-top-right" class="quadrant q-top q-right"><a class="homeLink" href="#" data-target="portfolio">Portfolio</a></div>
    <div id="q-bottom-left" class="quadrant q-bottom q-left"><a class="homeLink" href="#" data-target="about">About</a></div>
    <div id="q-bottom-right" class="quadrant q-bottom q-right"><a class="homeLink" href="#" data-target="extra">Extra</a></div>
    <a id="link-blog" href="blog"></a>
    <a id="link-portfolio" href="portfolio"></a>
    <a id="link-about" href="about"></a>
    <a id="link-extra" href="extra"></a>

  </body>
  <!-- load js at the bottom -->
  <script src="static/js/jquery-2.1.0.min.js"></script>
  <script src="static/js/main.js"></script>
  <!-- google analytics-->
  <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41323771-1', 'hariganesan.com');
    ga('send', 'pageview');
  </script>
</html>