<!DOCTYPE html>
<!-- portfolio file for hariganesan.com-->

<html xmlns="http://www.w3.org/1999/xhtml">
  {% include "head.html" %}
  <body class="green">
    <div id="header-wrapper">
      <div id="header" class="container">
        <div id="logo"><a href="/portfolio">portfolio</a></div>

        <div id="nav-box">
          <div id="q-top-left" class="quadrant-nav red">blog</div>
          <div id="q-top-right" class="quadrant-nav q-right green"></div>
          <div id="q-bottom-left" class="quadrant-nav q-bottom blue">about</div>
          <div id="q-bottom-right" class="quadrant-nav q-bottom q-right purple">extra</div>
        </div>
        <div id="nav-box-overlay"></div>
      </div>
    </div>

    <div id="wrapper">
      <div id="page" class="container">
        <div id="content">
          <div class="post">
            <h2 class="title">Games</h2>

            <div class="entry">
              <p>In my spare time, I create games. I usually use SDL, OpenGL, and the Cocoa
              framework on OS X. In order to run them, I link to these (and other)
              libraries using <a href="http://www.finkproject.org/">Fink</a>.</p>

              <p>My first ever game that I developed was... tetris.</p><img src=
              "static/images/tetris.png" width="150" height="170" />

              <p>I then started working on a version of Zookeeper/Bejeweled/Candy Crush:</p><img src=
              "static/images/jewel_zoo.png" width="150" height="150" />

              <p>More recently, I've worked on a Bridge game and a side-scroller, which
              uses FLTK and runs on Linux.</p>

              <p>All of my code is available on <a href=
              'www.github.com/hariganesan'>Github</a>.</p>
            </div>

            <h2 class="title">Music</h2>

            <div class="entry">
              <p>Here is a song I composed for the Yale Russian Chorus:</p>

              <p><embed type="application/x-shockwave-flash" src=
              "http://www.google.com/reader/ui/3523697345-audio-player.swf" flashvars=
              "audioUrl=music/kvalite_edited.mp3" width="400" height="27" quality=
              "best" /></p>

              <p>You can learn more about the chorus on their <a href=
              "http://www.yalerussianchorus.com">website</a>.</p>
            </div>

            <div class="entry">
              <p>My friend <a href="https://soundcloud.com/kobalos">Andrew</a> and I
              composed this song for our electronic music class:</p>

              <p><iframe width="100%" height="166" scrolling="no" frameborder="no" src=
              "https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F30135649">
              </iframe></p>

              <p>You can also check it out on my <a href=
              "https://soundcloud.com/indynchild">soundcloud</a>.</p>
            </div>

            <div class="entry">
              <p>I have also composed music for the <a href='http://dpops.com/'>Davenport
              Pops Orchestra</a>. You can see our past concerts on our <a href=
              'https://www.youtube.com/user/DPopsOrchestra'>YouTube Channel</a>.</p>
            </div>
          </div>

          <div style="clear: both;">
            &nbsp;
          </div>
        </div><!-- end #content-->

        <div style="clear: both;">
          &nbsp;
        </div>
      </div>
      </div>
    <div id="footer">
      <p class="small">built on App Engine (poor man's AWS) with some jQuery magic (just plain poor)</p>
    </div>
  </body>

  <!-- load js at the bottom -->
  <script src="static/js/jquery-2.1.0.min.js"></script>
  <script src="static/js/nav.js"></script>


<!-- google analytics--><script type="text/javascript">
//<![CDATA[
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41323771-1', 'hariganesan.com');
  ga('send', 'pageview');
  //]]>
  </script>

</html>