/* main css */

body {
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #667;
  height: 100%;
}

.quadrant, .quadrant-nav {
  font-weight: 100;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 1.6em;
}

a {
  text-decoration: none;
  color: #44c;
}

a:hover {
  color: #88d;
}

/* Header */

#header-wrapper {
  height: 100px;
  top: 0;
  position: absolute;
  width: 100%;
}

#header {
  width: auto;
  height: 100px;
  margin: 0 auto;
  padding: 0px 20px;
}

#logo * {
  font-size: 70px;
  color: #fff;
  font-weight: 100;
}

#nav {
  width: 300px;
  top: 50px;
  right: 2%;
  position: absolute;
  z-index: 1;
}

.nav-link {
  color: #ccc;
  width: 50%;
  float: left;
  text-align: center;
}

.nav-link:hover {
  color: #fff;
  cursor: pointer;
}

/* body */

#wrapper {
  margin-top: 100px;
  background-color: #fff;
}

#push {
  height: 4em;
}

.small {
  font-size: 12px;
}

.container {
  width: auto;
  margin: 0px auto;
}

.left {
  float: left;
}

.side-buffer {
  margin: 0px 25px;
}

.up-buffer {
  margin-top: 25px;
}

.down-buffer {
  margin-bottom: 25px;
}

.center {
  text-align: center;
}



/* Menu */

#page {
  padding: 25px;
}

#footer {
  text-align: center;
  color: #aaa;
  padding: 10px;
}

/* Content */

.post {
  padding: 0px 200px;
  text-align: justify;
}

#article-container {
  padding: 0px 200px;
}

.article-date {
  font-style: italic;
  font-size: 16px;
}

.article {
  margin: 5px 0px 50px 0px;
}

.article-title {
  font-size: 45px;
  margin-bottom: 10px;
}

.article-body {
  font-size: 22px;
}

/* profile pic */
#photo {
  margin: auto;
  display: block;
  width: 200px;
  height: 200px;
}

/* new styles for home page */

.green {
  background: #122;
}

.green h2 {
  color: #122;
}

.blue {
  background: #112;
}

.blue h2 {
  color: #112;
}

.black {
  background: #000;
}

strong, b {
  color: black;
}.quadrant {
  position: fixed;
  height: 100%;
  width: 50%;
  text-align: center;
  line-height: 4em;
}

#q-right {
  left: 50%;
}

#q-left {
  left: 0%;
}

.quadrant a, .quadrant a:visited {
  font-size: 100px;
  text-decoration: none;
  color: #def;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
}

.quadrant a:hover {
  font-weight: 400;
  color: #fff;
}
