/* main css */

body {
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #667;
  height: 100%;
}

.center {
  text-align: center;
}

.small {
  font-size: 12px;
}

.container {
  width: auto;
  margin: 0px auto;
}

.left {
  float: left;
}

/* main page */
#orbit-big {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -350px;
  height: 650px;
  width: 700px;
  border-radius: 50%;
  border: 2px solid #999;
  background-color: rgba(0,0,0,0);
  z-index: 0;
}

.planet {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #555;
  z-index: 1;
}

#planet-mobile {
  top: 120px;
  left: 50%;
  margin-left: -270px;
}

#planet-games {
  top: 120px;
  left: 50%;
  margin-left: 210px;
}

#planet-web {
  top: 630px;
  left: 50%;
  margin-left: -30px;
}

#planet-about {
  top: 400px;
  left: 50%;
  margin-left: -30px;
}


/* body */

#push {
  height: 4em;
}

.side-buffer {
  margin: 0px 25px;
}

.up-buffer {
  margin-top: 25px;
}

.down-buffer {
  margin-bottom: 25px;
}

/* Menu */

#page {
  padding: 25px;
}

#footer {
  text-align: center;
  color: #aaa;
  padding: 10px;
}

/* Content */

.post {
  padding: 0px 200px;
  text-align: justify;
}

#article-container {
  padding: 0px 200px;
}

.article-date {
  font-style: italic;
  font-size: 16px;
}

.article {
  margin: 5px 0px 50px 0px;
}

.article-title {
  font-size: 45px;
  margin-bottom: 10px;
}

.article-body {
  font-size: 22px;
}

/* profile pic */
#photo {
  margin: auto;
  display: block;
  width: 200px;
  height: 200px;
}
