h3.title
	a(href='#') 6/5/13 
.entry
	<p> It's been a crazy week! New Game of Thrones, Arrested Development, and we've got ourselves a Heat-Spurs final. Might as well watch as much sports as possible until there's only baseball left...

	<p> I haven't been playing much of PoP:WW lately, since I've been working on fixing/updating my old Bejeweled/Zookeeper game, which I hadn't worked on it in five months, according to Github. Apparently, five months ago, I didn't know WHAT I was doing; I created my main grid by allocating the main grid on the stack, and set pointers for each of the Jewels to each other based on its position in the grid. I guess at the time this didn't seem so bad considering the grid's size is fixed. However, once you realize how much work is involved in swapping Jewels by updating the pointers and resetting the properties, you'll see that it was a rookie mistake. So, I changed it to a grid of pointers and saved coordinates in the Grid class of any necessary information concerning Jewels instead of specific pointers. This removed all of the hassle of what used to be a crazy linked-list-esque structure (rather, a linked grid!) in favor of a 2D array, resembling that of my tetris game.

	<p> I've also come to terms with the fact that my blog won't be able to fit on one page, and that I'll either have to have some sort of inner-page links or store my posts in a database using MySQL (or both!). I really didn't intend on getting into the back-end of website development, but it looks like my choices are slim, unless I'm missing some easy way of easily creating posts and allowing overflow posts to go to new pages (and navigation buttons, of course).

	<p> I've also begun to think about swapping out the Windows partition on my hard drive for Linux; I haven't had the chance to really explore some of the great distros out there. It's not like I was going for a gaming machine anyway when I decided to buy an Air... and I can always run Windows from Linux. However, I am worried about some of these VMs - some are rather finnicky depending on the distro, and often basic utilities like USB support and Direct3D graphics don't work. Oh well, I suppose I'll keep my neglected Windows partition until I decide to finally play through Mass Effect. But look at ALL THE GAMES I still have to play through first:

	<ul>
	<li> PoP:WW (currently playing) </li>
	<li> Persona 4 (in the middle of) </li>
	<li> Final Fantasy Tactics (in the middle of) </li>
	<li> God of War 2 (in the middle of) </li>
	<li> Ratchet and Clank (in the middle of) </li>
	<li> XIII </li>
	<li> Devil May Cry 3 </li>
	<li> Tony Hawk's Pro Skater 3 </li>
	<li> Ghost Recon 2 </li>
	<li> GTA: San Andreas (kind of given up) </li>
	<li> Metroid: Prime (probably given up) </li>
	<li> Xenosaga (pretty much given up) </li>
	<li> Resident Evil 4 (almost definitely given up) </li>
	</ul>

	<p> This list is what's keeping me from buying a new console anytime soon. And LOL and Diablo aren't even on there... not that I want to <a href="https://www.youtube.com/watch?v=cD69PAIqiYo">lose my sanity on one of those</a>.