h3.title
	a(href='#') 6/15/13 
.entry
	<p> E3 has come and gone. And the winner was... Sony. By a landslide. I watched their press conference live, and when they announced their DRM policy, they got quite a reaction from the crowd. And then, the price! The PS4 will debut a solid $100 less than the One. Is the One going to become the next Dreamcast? Maybe they should have thought through the mandatory Kinect, or the price, or their constant lack of details concerning theirr DRM policy, or their online requirement. Your move, Microsoft. I hope you have a good marketing team come November.

	<p> Apart from the consoles, many new games were introduced. Among them were Kingdom Hearts 3, Final Fantasy XV, and a new Super Smash Bros. Of course, other popular new games that had already been announced were also featured, including Destiny and Watch Dogs. It's going to be an exciting next couple of years!

	<p> Game 5 of the NBA Finals is tomorrow, and it seems pretty clear that it's been a back-and-forth roller coaster. How will the Spurs respond? We'll just have to wait and see, as usual...