h3.title
	a(href='#') 4/11/13 
.entry
	p <b><i>PLSC</i> - How often is the majority right?</b> This is a tough question, but I couldn't think of a more relevant one considering many of us seem to live in a pretty argumentative country when it comes to politics. It's easy to point and look at issues that the majority of the populous has been "wrong" on, that is to say, that there was a <i>public shift of opinion</i>. Now, this is where it gets interesting. Supposing there is an issue for which public opinion seems to be shifting. How likely is it that the public is "becoming right", which is to possibly say, public opinion will never shift back?

	p Leaving the actual arguments aside for hot topics like gay marriage and gun control, it's clear that public opinion seems to be shifting on these issues. Now, the question becomes: how much shift of an issue is necessary to make a change in the law? For all we know, public opinion could sway back in the other direction, and whatever the people think could be just "a fad". So maybe we should just throw opinion out the window, and allow our elected officials to decide for us what is either morally or logically sound?

	p And then, maybe there will be issues for which there really is no right or wrong, only preferences that people have for living their life a certain way. And then what is the government doing, wasting our time and money on things that either don't matter or that will never be solved? I can't blame them though, because it's unclear to me much of the time which is which.