h3.title
	a(href='#') 4/10/13 
.entry
	p <b><i>PLSC</i> - What is the deal with healthcare?</b> There's been much heated debate in the U.S. concerning healthcare, especially under President Obama. I've never fully understood the dillemma, and why there is so much angry partisanship on the issue, mostly because I can't say one side is really much better than the other. As an avid <i>South Park</i> fan, I have drawn an interesting analogy (notice I said interesting, not accurate) involving the main characters, with the divide on the issue being public and privatized care:

	p Stan, the everyman in the group, does not use health care that often since he chooses a fairly healthy lifestyle (in comparison at least). He is not in favor of public healthcare.
	p Kyle, the unfortunate one, has a plethora of debiliting diseases from several generations of Jews only marrying Jews (don't read too much into this, I have nothing against Jews). Regardless of his choices, he cannot help his medical status, and therefore favors public healthcare.
	p Cartman, the free-rider, causes his own health risks and abuses the system. He favors public healthcare.
	p Kenny, the poor kid, has very little choice over his poor health conditions as it is merely a result of his upbringing (see Jamie Oliver). He favors public healthcare.

	p So I've at least drawn to light some general personalities that might be involved in the healthcare debate. Where do we stand today? It seems that <a href="http://www.blogcdn.com/www.gadling.com/media/2007/07/healthcareworldbig.jpg">most of the western world</a> has some type of universal health care. So why doesn't the U.S.? This is copied straight from Wikipedia:

	p.small According to the World Health Organization (WHO), the United States spent more on health care per capita ($7,146), and more on health care as percentage of its GDP (15.2%), than any other nation in 2008. The Commonwealth Fund ranked the United States last in the quality of health care among similar countries, and notes U.S. care costs the most.

	p Call Wikipedia liberal if you want, but you can't ignore plain statistics. So what is the main argument against universal health care in the U.S.? A plethora of Cartmans, perhaps? Despite my intuitions, there are actually quite a few other reasonable arguments in the negative, including the quality of care, patient confidentiality, and the strain it would have on medical professionals, and that the government generally sucks. Yes, the goverment is <a href="http://chrisdasie.com/but-the-government-does-it/">terribly inefficient</a> (really, IE7?) and has very little motivation for being more efficient. But I also am hedging my bets that the Stans of the U.S. think more about the Cartmans, rather than the Kyles and the Kennys.