h3.title
	a(href='#') 4/7/13 
.entry
	p Hi! I'm still working out all the kinks, but I at least have the site up and running. I still want to change some of the design, but that can wait. As for this blog, it will be mostly some musings about various things, but mostly <b>Technology, Politics, Philosophy, and Psychology.</b> Of course, those may change as I begin to write entries, but those are the subjects I would say I think about the most on a day-to-day basis.
