<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml">
  {% include "head.html" %}
  <body>
    <div id="header-wrapper" class="blue">
      <div id="header" class="container">
        <div id="logo"><a href="/about">about</a></div>
      </div>
      <div id="nav">
        <div><a class="nav-link" href="#" data-target="/">main</a></div>
        <div><a class="nav-link" href="#" data-target="portfolio">portfolio</a></div>
      </div>
    </div>

    <div id="wrapper">
      <div id="page" class="container">
        <img id="photo" src="static/images/photo.png">
        <div class="post">
          <div class="entry">
            <p class="center">Hi! My name is Hari Ganesan. I'm the co-founder and CTO of <a href="http://www.getbriefme.com">BriefMe</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- load js at the bottom -->
  <script src="static/js/jquery-2.1.0.min.js"></script>
  <script src="static/js/page.js"></script>


  <!-- google analytics-->
  <script type="text/javascript">
    //<![CDATA[
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41323771-1', 'hariganesan.com');
    ga('send', 'pageview');
    //]]>
  </script>

</html>

