<!-- head -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="Hari Ganesan's Website">
  <meta name="description" content="Hari Ganesan's website a blog and portfolio of a software programmer">
  <meta name="author" content="Hari Ganesan">
  <link rel="shortcut icon" href="static/images/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400' rel='stylesheet' type='text/css'>
  <title>Hari's Website</title>
  <link href="static/css/main.css" rel="stylesheet" type="text/css" media="screen">
</head>