<!DOCTYPE html>
<!-- portfolio file for hariganesan.com-->
<html xmlns="http://www.w3.org/1999/xhtml">
  {% include "head.html" %}
  <body>
    <div id="header-wrapper" class="green">
      <div id="header" class="container">
        <div id="logo"><a href="/portfolio">portfolio</a></div>
      </div>

      <div id="nav">
        <div><a class="nav-link" href="#" data-target="/">main</a></div>
        <div><a class="nav-link" href="#" data-target="about">about</a></div>
      </div>
    </div>

    <div id="wrapper">
      <div id="page" class="container">
        <div class="post">
          <h2 class="title">Games</h2>

          <div class="entry">
            <p>In my spare time, I create games. I usually use SDL, OpenGL, and the Cocoa
            framework on OS X. In order to run them, I link to these (and other)
            libraries using <a href="http://www.finkproject.org/">Fink</a>.</p>

            <p>My first ever game that I developed was... tetris.</p><img src=
            "static/images/tetris.png" width="150" height="170" />

            <p>I then started working on a version of Zookeeper/Bejeweled/Candy Crush:</p><img src=
            "static/images/jewel_zoo.png" width="150" height="150" />

            <p>More recently, I've worked on a Bridge game and a side-scroller, which
            uses FLTK and runs on Linux.</p>
        </div>
      </div><!-- end #content-->
    </div>
  </body>

  <!-- load js at the bottom -->
  <script src="static/js/jquery-2.1.0.min.js"></script>
  <script src="static/js/page.js"></script>

  <!-- google analytics-->
  <script type="text/javascript">
    //<![CDATA[
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41323771-1', 'hariganesan.com');
    ga('send', 'pageview');
    //]]>
  </script>

</html>